<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5j3m7niHgnsXhjGZqrmC9xsDRaAa47Gc</string>
	<key>GCM_SENDER_ID</key>
	<string>748781621652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.responsividade</string>
	<key>PROJECT_ID</key>
	<string>telalogin-f6199</string>
	<key>STORAGE_BUCKET</key>
	<string>telalogin-f6199.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748781621652:ios:5d5d7c4a9c6416e754ff81</string>
</dict>
</plist>